body {
  background-color: #282c34;
}

.app {
  text-align: center;
}

.app-header {
  height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  padding: 20px;
  width: 70vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; /* optional - adds spacing between grid items */
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px 10px 40px 10px;
  text-align: center;
}

.total {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px dashed #ccc;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  height: 30vh;
}

.item {
  /* Set the styles for the items */
}

/* Media query for tablet devices */
@media screen and (max-width: 768px) {
  .grid-container {
    display: block;
    width: 80vw;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .grid-item {
    margin-top: 20px;
  }
  .total {
    margin-top: 20px;
  }
}
